{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype {{ LANGUAGE_CODE }}>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jennifer's online clinic {% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %} {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"/>

</head>
<body>
<section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            Jennifer's online clinic
        </p>
        <p class="subtitle">
            ZoomWatcher
        </p>
    </div>
</section>

<form method="post">{% csrf_token %}
    <div>
        {% block body %} {% endblock %}
    </div>
</form>

</body>
</html>