{% extends "zoomwatcher/_base.html" %}
{% load static %}

{% block body %}
    <div class="columns is-mobile">
        <div class="column is-three-fifths is-offset-one-fifth">

            {% if object_list %}
                <table class="table is-fullwidth is-striped">
                    <thead>
                    <tr>
                        <th>Meeting ID</th>
                        <th># of participants</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for meeting in object_list %}
                        <tr>
                            <td>{{ meeting.meeting_id }}</td>
                            <td>{{ meeting.participants }}</td>
                            <td>
                                <button class="button is-warning{% if meeting.get_details.is_asked_to_end %} is-loading{% endif %}"
                                        name="meeting-id" value="{{ meeting.meeting_id }}"
                                        {% if meeting.get_details.is_asked_to_end %}disabled{% endif %}>Stop
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="notification">No Live Meetings found. Stand by.</div>
            {% endif %}


            {% if object_list %}
                <hr />
                <div class="columns is-mobile">
                    <div class="column is-half is-offset-one-quarter">
                        <nav class="pagination is-centered is-small" role="navigation" aria-label="pagination">
                    <a class="pagination-previous"
                            {% if page_obj.number == 1 %}
                       disabled
                            {% else %}
                       href="{% url 'zoomwatcher:home' %}?page={{ page_obj.number|add:'-1' }}"
                            {% endif %}
                    >Previous</a>
                    <a class="pagination-next"
                            {% if page_obj.number == paginator.num_pages %}
                       disabled
                            {% else %}
                       href="{% url 'zoomwatcher:home' %}?page={{ page_obj.number|add:'1' }}"
                            {% endif %}
                    >Next page</a>

                    <ul class="pagination-list">
                        {% for page_num in paginator.page_range %}
                            <li><a class="pagination-link {% if page_num == page_obj.number %}is-current{% endif %}"
                                   href="{% url 'zoomwatcher:home' %}?page={{ page_num }}&search={{ view.request.GET.search }}">{{ page_num }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock body %}


{% block meta %}
    <meta http-equiv="refresh" content="10; URL={% url 'zoomwatcher:home' %}">
{% endblock %}


{% block title %}Home{% endblock title %}
